@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@200;300;400;500&family=Poppins:wght@200;300;400;500&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

.product__card__container{
    display: flex;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.product__card__img__content-img{
    display: block;
    width: 100%;
    height: 100%;
}

.product__card__details__content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
}

 p{
    color: hsl(228, 12%, 48%);
    
}

.product__card__details-text p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
}

.product__card__details-text h2{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin: 1rem 0;
}

.product__card__details-price{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: .5rem 0 2rem 0;
}

.product__card__details-price p{
    margin: 0;
}

.product__card__details-price-new{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.product__card__details-price-old{
    align-self: center;
    text-decoration: line-through;
}

.btn-cta{
    width: 100%;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    padding: .8rem;
    border-radius: 10px;
}

.btn-cta svg{
    margin-right: .5rem;
}